@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500;700&family=Krona+One&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


/*  */
/* GLOBAL */
body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin:0;
  padding:0;
  color: #006dc6;
  box-sizing: border-box;
  border-collapse: collapse;
}
h1, h2, h3, h4, p, a, span {
  padding:0;
  margin:0;
}
h1 {
  font-family: 'Krona One', sans-serif;
}
p {
  font-size:16px;
  line-height:1.5;
  color: #222;
}
a {
  text-decoration: none;
  color: inherit;
}
.smallnote {
  font-size: 12px;
  letter-spacing: 0.01em;
}
img{
  display:block;
}
.content-box {
  margin-top: 55px;
  margin-bottom: 5em;
  padding: 2em;
  width: calc(100% - 4em);
  min-height: calc(100vh - 373px - 4em);
  background-color: #fff;
}
form div {
  padding-top: 20px;
}
@media only screen and (max-width: 675px) {
  .smallnote {
    font-size: 10px;
  }
}



/* Navigation hamburger style+animation */

#burger {
  display: flex;
  justify-content: left;
  align-items: center;
}
#burger > div:first-child {
  margin-right: 15px;
}
#nav-icon3 {
  width: 35px;
  height: 21px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #006dc6;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open span {
  background: #c32f27;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menuPanel {
  position: fixed;
  top: 54px;
  left: -200px;
  background: #006dc6;
  height:calc(100vh - 55px);
  width: 200px!important;
  padding:2em 0;
  display: flex;
  flex-direction: column;
  transition: ease 0.2s;
  overflow:hidden;
}
#menuPanel > div {
  height: calc(50% - 2em)
}
#menuPanel > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
#menuPanel a {
  display: block;
  padding: 1em 2em;
  color:#fff;
  text-align:left;
  transition: ease 0.2s;
}
#menuPanel a:hover {
  background: #003d75;
  padding-left:calc(2em + 5px);
}
#menuPanel a:hover:before {
  /* font-family: 'fontawesome';
  content: "\f054 "; */
  margin-right:7px;
  transition: ease 0.2s;
}

.showMenuPanel {
  transition: ease 0.2s;
  left:0!important;
}



/*  Test result icon and color style start */
input[type="radio"] + label:before {
  content: "\f10c";
  font-family: 'fontawesome';
  margin-right: 7px;
  color: #3a6ea5;
}
input[type="radio"]:checked + label:before {
  content: "\f192";
  color: #006dc6;
}
#block .incorrect .correct-answer input[type="radio"] + label:before, .correct input[type="radio"]:checked + label:before {
 content: "\f058";
 color: #47af21;
}
#block .incorrect input[type="radio"]:checked + label:before {
  content: "\f00d";
  color: #c32f27;
}
#block .incorrect > p {
  color: #c32f27;
}

/*  Test result icon and color style end */


label {
  /* position: absolute; */
  margin-top: -0.7em;
  background-color: #fff;
  padding-right: 0.3em;
  font-size: 14px;
}
input {
  padding: 1em 1em;
  border: 1px solid #ddd;
  min-width: 25vw;
}
.show {
  display: block!important;
}
.hidden {
  display: none!important;
}
button {
  background: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.button.active {
  background-color: #006dc6;
  color: #fff;
}
.button.active:hover {
  background-color: #006dc6;
  color: #fff;
}
.button {
  padding: 0.7em 2em;
  border-radius: 100px;
  border: 1px solid #006dc6;
  background-color: #eef4fb;
  color: #006dc6;
  cursor: pointer;
}
.button:hover {
  background-color: #ddeafa;
  color: #006dc6;
}
.button:disabled {
  cursor: default;
  background-color: #f7f7f7;
  border-color: #ddd;
  color: #999;
}
.float-right-bottom {
  position: fixed;
  right: 2em;
  bottom: 3em;
}

.float-right-bottom a {
  color: #fff;
  background-color: #006dc6;
  padding: 1em 1.5em;
  border-radius: 100px;
  font-size: 14px;
}
.float-right-bottom:hover {
  cursor: pointer;
}
.float-right-bottom a.lastBlock {
  background-color:#ddd;
  color: #666;
  cursor:default;
}
.float-right-top {
  position: fixed;
  right: 2em;
  top: 17px;
  z-index:9999;
}
@media only screen and (max-width: 675px) {
  .float-right-top {
    top: 34px;
  }
}


/*  */
/* NAV */
#navbar {
  background-color: #fff4f4;
  border-bottom: 1px solid #006dc6;
  position: fixed;
  top: 0;
  padding: 1em 2em;
  width:calc(100% - 4em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
#navbar > * {
  width:100%;
  text-align:center;
}
#navbar h1 {
  font-size: 15px;
  letter-spacing:0.2em;
}
#navbar h1:hover {
  color:#c32f27;
}
#navbar nav > div > * {
  margin-left: 2em;
}
@media only screen and (max-width: 675px){
  #nav-icon3 {
    width: 20px;
  }
  #nav-account {
    font-size: 13px;
  }
  #burger > div:first-child {
    margin-right: 5px;
  }
  #navbar > *:nth-child(3){
    display: none;
  }
  #navbar h1 {
    font-size: 13px;
    text-align:right;
  }
}


/*  */
/* LOGIN AND SIGNIN */
#loginsignup label{
  font-size: 12px;
}
#forgotPW {
  text-align:center;
}



/*  */
/* HOME */
#home .probes-list {
  width: 70%;
  max-width: 400px;
  margin: 0 auto;
  text-align:center;
  padding-bottom: 4em;
}
#home .probes-list img {
  width:calc(100% - 4em);
  padding: 2em;
}
#home .toggle-button-wrapper, #home h3 {
  text-align:center;
  margin-bottom: 3em;
}
#home .toggle-button-wrapper button {
  margin: 0 0.5em 0.5em 0.5em;
}
#home .toggle-content-wrapper > div{
  width:100%;
  display:flex;
  flex-wrap: wrap;
}
#home .toggle-content-wrapper > div > div {
  width:calc(20% - 4em);
  border: 1px solid #ddd;
  padding:2em;
}
.toggle-content-wrapper > div > div:hover {
  background-color: #f9fcff;
}
@media only screen and (max-width: 1060px){
  #home .toggle-content-wrapper > div > div {
    width: calc(33% - 4em);
  }
}
@media only screen and (max-width: 675px){
  #home .toggle-button-wrapper {
    margin-left: 5em;
    margin-right: 5em;
  }
  #home .toggle-content-wrapper > div > div {
    width: calc(50% - 4em - 2px);
  }
}




/*  */
/* BLOCK */
#block #torso-box {
  background-color:#000;
  width:100%;
  display:flex;
  margin-top: 15px;
  justify-content: left;
  overflow: hidden;
}
#torso-wrapper {
  position:relative;
  padding: 1em 2em;
}
#torso-box img {
  display:block;
  height: 300px;
}
.view-toggle {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.7;
  position: absolute;
  cursor: pointer;
}
.view-toggle-selected {
  background-color: #c32f27;
}
.view1-button {
  top:29%;
  left: 25%;
}
.view2-button {
  top:31%;
  left: 50%;
}
.view3-button {
  top:40%;
  left: 40%;
}
.view4-button {
  top:47%;
  left: 21%;
}
.view5-button {
  top:51%;
  left: 34%;
}
.view6-button {
  top:45%;
  left: 55%;
}
.view7-button {
  top:49%;
  left: 64%;
}
.viewAlt-button {
  top: 36%;
  left: 68%;
  opacity:1!important;
  background-color:#006dc6;
  color: #fff;
  width: fit-content!important;
  border-radius: 0!important;
  border: 0;
  padding: 3px 5px;
  width: fit-content;
  font-size:13px;
}
.viewAlt-button.view-toggle-selected {
  background-color: #c32f27;
}



#block #question-wrapper {
  margin-bottom: 2.5em;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
}
#block #question-wrapper > div{
  /* width:50%; */
}
.qtype-reading {
  width: calc(50vw - 6.1em);
  height:calc(100% - 4em - 1px);
  padding: 2em;
  display: inline-block;
  border:1px solid #ddd;
  margin: -1px 0 0 -1px;
}
.qtype-general {
  padding: 2em;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-top: -1px;
  width:calc(100vw - 8.1em);
}
.qtype-general:first-of-type {
  border-top: 1px solid #ddd;
}

#block .question div {
  border: 1px solid #ddd;
  margin-bottom: 5px;
  position: relative;
}
#block .question > p {
  padding-bottom: 0.7em;
}
#block label {
  margin: 0;
}
#block input {
  min-width: auto;
}

#block input[type="radio"] {
  visibility: hidden;
  margin: 1em 0;
  position: absolute;
}
#block input[type="radio"] + label {
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  padding: 10px;
}
/* #block input[type="radio"] + label {
  padding: 0.5em 1em;
  border: 1px solid #ddd;
} */
#block input[type="radio"] + label:hover {
  cursor: pointer;
}
#block input[type="radio"]:checked + label {
  background-color: #eef4fb;
  border-color: #006dc6;
}

.incorrect .correct-answer label {
  background-color: #ebf5e7!important;
  border-color: #7fb96a!important;
}
.incorrect input:checked + label {
  background-color: #fff4f4!important;
  border-color: #e69b7f!important;
}

#scoreboard {
  background-color: #c32f27;
  padding: 1em 2em;
  text-align:center;
  width: 100%;
  margin: -2.1em 0 2em -2em;
}
#scoreboard p {
  color:#fff;
}
.explain {
  background-color: #f7f7f7;
  padding: 2em;
  color: #222;
  font-weight: 300;
}
.explain p, .readingInterpretation p {
  font-size: 14px;
  line-height: 1.8em;
}
.readingInterpretation {
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  padding: 2em;
  color: #222;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 14px;
  line-height: 1.8em;
  width:100%;
}
.readingInterpretation span {
  background-color: #006dc6;
  color:#fff;
  padding: 3px 10px;
  font-size: 0.8em;
  font-weight: bold;
}
.submit-wrapper {
  text-align:center;
}
.submit-wrapper button {
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  #torso-box img {
    height: 250px;
  }
  #torso-wrapper {
    padding-right: 0;
    margin-left: -1.5em;
  }
  .view-screen img {
    max-width: 100%;
    height: auto!important;
  }

  .qtype-reading {
    width: calc(100vw - 8em);
  }
}





/*  */
/* MY TEST HISTORY */
#mytesthistory .avg-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
  border-bottom: 1px solid #ddd;
}
#mytesthistory .avg-wrapper > div {
  width: calc(50% - 3em);
}
.avg-total, .avg-categories > div {
  border: 1px solid #ddd;
  padding: 2em;
}
.avg-total {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.avg-categories {
  display: flex;
  flex-wrap: wrap;
}
.avg-categories > div{
  width: calc(50% - 4.13em);
  text-align:center;
}

#mytesthistory .bestworst-scored-wrapper {
  padding: 3em 0;
  display: flex;
  justify-content: space-between;
}
#mytesthistory .bestworst-scored-wrapper > div {
  width: calc(50% - 5em);
  padding: 2em;
}
#mytesthistory .bestworst-scored-wrapper > div:first-child {
  border-right: 1px solid #ddd;
}
@media only screen and (max-width: 675px){
  #mytesthistory .avg-wrapper {
    flex-direction: column;
  }
  #mytesthistory .avg-wrapper > div {
    width: 100%;
  }
  #mytesthistory .avg-total {
    padding: 2em 0;
    margin-bottom: 2em;
  }
}




/*  */
/* REVIEW MATERIALS */
.content-headline {
  text-align: center;
  padding-top:1em;
  padding-bottom: 4em;
  width: 60%;
  max-width: 650px;
  margin: 0 auto;
}
.Review-materials-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.Review-materials-block {
  width: calc(50% - 2.15em);
  margin: 1em;
  border: 1px solid #ddd;
}
.Review-materials-block:hover {
  border: 1px solid #006dc6;
}
.r-m-1-txt, .r-m-2-txt, .r-m-3-txt, .r-m-4-txt, .r-m-5-txt {
  font-weight: 300;
  padding: 2em;
}
.r-m-1-txt p, .r-m-2-txt p, .r-m-3-txt p, .r-m-4-txt p, .r-m-5-txt p {
  padding-top: 10px;
  color: #666;
  font-size: 14px;
}
.r-m-1-img, .r-m-2-img, .r-m-3-img, .r-m-4-img, .r-m-5-img {
  height: 140px;
  background-color: #ededed;
}




/*  */
/* FOOTER */
#footer {
  background-color: #f7f7f7;
  padding: 2em;
  border-top: 1px solid #006dc6;
}
#footer .footer-column-wrapper {
  display: flex;
  margin-bottom: 3em;
}
#footer .footer-column-wrapper > div {
  width:100%;
}
#footer h1 {
  font-size: 16px;
}
#footer p {
  font-weight: 300;
}
#footer a {
  display: block;
  padding: 10px 0;
}
#footer .footer-credit {
  text-align:center;
}
#footer .footer-credit p {
  font-size: 12px;
  font-weight:300;
}
@media only screen and (max-width: 675px){
  #footer .footer-column-wrapper{
    flex-wrap: wrap;
  }
  #footer .footer-column-wrapper > div {
    width: 50%;
  }
  #footer .footer-column-wrapper > div:last-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 4em;
  }
  #footer .footer-column-wrapper > div:last-child a:first-child{
    width:100%;
  }
  #footer .footer-column-wrapper > div:last-child a:nth-child(2), #footer .footer-column-wrapper > div:last-child a:nth-child(3), #footer .footer-column-wrapper > div:last-child a:nth-child(4) {
    width:33%;
  }
}